/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$gray:        rgb(188, 188, 188);
$light-gray:  rgb(222, 222, 222);
$white:       rgb(255, 255, 255);
$black:       rgb(0, 0, 0);
$blue:        rgb(104, 139, 196);
