div#js-githubUserSearch.github-user-search

  //* SEARCH INPUT *\\
  include ../components/searchImput

  //* SEARCH RESULT CONTAINER *\\
  include ../components/searchResultContainer


  //* SEARCH RESULT *\\
  div.hidden
    include ../components/searchResult
