doctype html
html
  head
    title gitHub user search

    //* CSS *\\
    link(href='assets/css/main.css', rel='stylesheet')
    link(href='assets/css/reset.css', rel='stylesheet')


  body
    //* OTHER CONTENT *\\
    include views/modules/otherContent

    //* GITHUB USER SEARCH *\\
    include views/modules/githubUserSearch

    //* OTHER CONTENT *\\
    include views/modules/otherContent

    //* OTHER CONTENT *\\
    include views/modules/otherContent

    //* JS *\\
    script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js')
    script(src='assets/js/all.js')
